body {
    margin:0;
    background-color: black;
}

@font-face{
	font-family: "D-Din-Bold";
	src: url("fonts/d-din/D-DIN-Bold.otf");	  
}

@font-face {
    font-family: "D-Din";
    src: url("fonts/d-din/D-DIN.otf");
}

.mainWrapper{
    height: 100%;
    width: 100%;

    color:white;
    font-family: D-DIN-BOLD;
}

header{
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mainMenu{
    display: inline-block;
    margin: 28px 0;
    width: 75%;
    text-align: center;
} 

#logoImage{
    position: relative;
    top:3px;
    right:40px;

}
.rightMenu{
    display: inline-block;
    width: 23%;
    text-align: right;
}

#menuIcon{
    margin-bottom:-6px;
}

.navLinks{
    display: inline-block; 
}

.navLinks a{ 
    padding:12px;

    color:white;
    /*font-family: D-Din-Bold;*/
    font-size: 14px;
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration:underline ;
}
