.parameters{
    width: 100%;
    height: 100vh;

    background-image: url("assets/rocket.webp");
    background-size: contain;
    background-repeat: no-repeat;
}

#smallerHeadline{
    font-family: D-DIN;
}

#paramHeadline{
    font-size: 60px;
}

#smallerHeadline{
    padding-top: 8%;
}

#smallerHeadline, #paramHeadline, #tableParameters {
    margin-left: 8%;
} 

#tableParameters{
    line-height: 55px;
    border-collapse: collapse; 
}

#tableParameters td{
    width: 42%;

    border-bottom: 1px solid;
    border-color: #868686;
}

.measure{
    text-align: right;
}

.anotherMeasure{
    text-align: right;
    color:#868686;
}




